:root{
    --primary: #0000FF;
    --light: #EEEEEE;
    --dark: #212121;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans' , sans-serif;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom: 3px solid var(--primary);
}

.menu{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.start{
    color: var(--dark);
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    border-radius: 99px;
}

.start.is-active .start:hover{
    background-color: var(--primary);
}

nav a{
    color: #FFF;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;

}

.menu a.is-active, .menu a:hover{
    background-color: var(--primary);
}

@media(min-width: 768px){
    .menu{
        display: flex;
    }
}

body{
    margin: 0;
    padding: 0;
    background-color: #dddddd;
}

.final{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200;
    background: white;
    border-radius: 10px;
    margin: 30px 0;
    text-align: center;
    align-items: center;
    top:50%;
}

nav a{
    color: #FFF;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;

}
